<div> 
  <app-collection-modal-content  (submitted)="create($event)"></app-collection-modal-content>
</div>
<div class="row" id="collectionList">
  <div *ngFor="let collection of collectionList | async" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card">
          <div class="card-header">
              {{collection.name}}
          </div>
          <div class="card-body">
              <div class="col-6">
                <p class="card-text">Description</p>
                <span>{{collection.description}}</span>
              </div>
              <div class="col-12">  
                  <button class="btn btn-outline-danger btn-sm" (click)="deleteCollection(collection?.key)">delete</button>
                  <button class="btn btn-outline-info btn-sm" [routerLink]="['../collectionDetail', collection?.key]">go collection</button>
              </div>
          </div>
      </div>
      <div class="col-12 col-xl-12"> </div>
  </div>
</div>
