
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <span class="capitalize">{{_pokemon?.name}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-9 order-2"  >
        <div class="row" >
            <div class="col-12" >
                <span class="badge badge-pill badge-info text_detail">Height</span>
              </div>
              <div class="col-12">
                  <span class="text_detail">{{_pokemon.height}}</span>
                </div>
        </div>
        <div class="row top-buffer" >
            <div class="col-12" >
                <span class="badge badge-pill badge-warning text_detail">Weight</span>
              </div>
              <div class="col-12">
                  <span class="text_detail">{{_pokemon.weight}}</span>
                </div>
        </div>
        <div class="row top-buffer"  *ngFor="let a of abilities">
          <div class="col-12 ">
            <span class="badge badge-pill badge-success text_detail">{{a.name}}</span>
          </div>
          <div class="col-12">
              <span class="text_detail">{{a.description}}</span>
            </div>
        </div>
        <div class="row top-buffer">
          <div class=" col-12 top-buffer" *ngFor="let type of _pokemon.types">
              <span class="badge badge-pill badge-danger text_detail">{{type.type.name}}</span>
          </div>
        </div>

      </div>
      <div class="col-md-3 col-12 order-1 order-md-2">
        <div class="row">
          <div class="col img-slider">
              <app-image-slide [images]="images"></app-image-slide>
          </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: center">
              <app-poke-rating></app-poke-rating>
            </div>
        </div>
      </div>
    </div>
    <div class="row top-buffer">
        <div *ngFor="let pokemon of evolution"  class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div>
                <app-poke-card [poke]="pokemon"></app-poke-card>
            </div>
        </div>
    </div>
  </div>

